.modal {
  max-width: 792px;
  min-height: 823px;
  margin: 0 auto;
  padding: 32px 106px 28px;
  background-color: #f2f0f9;
  position: relative;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.modal__title {
  margin-bottom: 43px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.1em;
}

.modal__form {
  max-width: 580px;
}

.modal__fieldset {
  min-height: 620px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 28px;
  margin-bottom: 32px;
}

.modal__label {
  display: inline-block;
  margin-bottom: 5px;
}

.modal__input {
  display: inline-block;
  background-color: #f4f2ff;
  border-radius: 6px;
  resize: none;
  font-size: 16px;
  line-height: 1.125;
  padding: 11px;
  width: 100%;
  margin-bottom: 12px;
}

.modal__input:last-child {
  margin-bottom: 0;
}

.modal__discount {
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
}

.modal__input-checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -50px;
}

.modal__input-checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #f4f2ff;
  border-radius: 6px;
}

.modal__input-checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.modal__input-checkbox:checked:after {
  opacity: 1
}

.modal__input_disabled {
  background-color: #eeeeee;
}

.modal__submit {
  display: block;
  width: 200px;
  height: 39px;
  background-color: #6D5BD0;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 25px;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 28px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 30px;
}